body {
  background-image: url("/images/fondo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*  HEADER  */

#cabecera {
  background-color: #571396;
}

#logo {
  margin-left: 40px;
}

#despliegueHeader {
  border: none;
  background: transparent;
  color: white;
  font-size: 17px;
}

#despliegueHeader::after {
  content: none;
}

#despliegueHeader:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
}

#lupa {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: #9032e9;
  color: white;
}

#lupa:hover {
  background-color: #652c9e;
  color: white;
}

/* BODY */

/* MAIN CAROUSEL */

.swiper {
  width: 100%;
  height: 740px;
  margin: 0;
  color: white;
}

#swiperMain {
  background: url('/images/main.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px ;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

#titleMain {
  font-size: 90px;
}

.mainTitle {
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 75px;
  margin: 60px;
}

.resumen {
  margin-left: 60px;
  width: 50%;
  font-size: 25px;
}

.titulo {
  color: white;
  text-align: end;
  font-size: 24px;
  padding: 7px;
  padding-right: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
}

/* BUTTON VIEW MORE */

.viewMoreButton{
  margin-top: 20px;
  margin-left: 40px;
  padding: 5px 15px;
  font-size: 12px;
  display: flex;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #7623c4;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.viewMoreButton:hover {
  background-color: #7623c4;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.viewMoreButton:active {
  transform: translateY(-1px);
}

.nameGame {
  color: white;
  font-size: 19px;
  margin-bottom: 15px;
}

.MultiCarousel {
  float: left;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 420px;
}

.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
  float: left;
  height: 400px;
  width: 240px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: #571396;
  border: none;
  top: calc(50% - 20px);
}

.MultiCarousel .leftLst:hover,
.MultiCarousel .rightLst:hover{
  background-color:#9032e9;
} 

.MultiCarousel .leftLst {
  left: 0;
}

.MultiCarousel .rightLst {
  right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
  pointer-events: none;
  background: #ccc;
}

/* COMING SOON */

#commigSoon{
  margin-top:0;
  font-size:50px;
  font-weight: bold;
  background: linear-gradient(-45deg,#fbff01, orange, #00ffcc);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 15s gradient ease infinite;
  margin-left: 70px;
}

#comingDiv{
  background: linear-gradient(to left, #24083f 35%, #a240fe);
  padding-bottom: 20px;
}

/* TOP GAMES */

#topGames {
  background: linear-gradient(to left, #045502b3 35%, #00ff22b3);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* SHOOTERS GAMES */

#shooterGames{
  background: linear-gradient(to left, #550202b3 35%, #ff3c00b3);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* ADVENTURE GAMES */

#adventureGames{
  background: linear-gradient(to left, #0a0255b3 35%, #003cffb3);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* ANIMATIONS */

.animation-title {
  animation: 4s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}

.animation-carrusel {
  animation: 4s cubic-bezier(.25, 1, .30, 1) wipe-in-left both;
}

@keyframes wipe-in-bottom-right {
  from {
    clip-path: polygon(0 0, 0 0, 0 0, 0 50%);
  }

  to {
    clip-path: polygon(-50% 0%, 200% 0, 0 200%, 0 -50%);
  }

  /* animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-bottom-right both; */
}

@keyframes wipe-in-left {
  from {
    clip-path: inset(0 0 0 100%);
  }

  to {
    clip-path: inset(0 0 0 0);
  }

  /* animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-left both; */
}


@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }

  /* animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
  }
}

/* STARS ANIMATION */

.star {
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(255,255,255,0.0);
  border-radius: 5px;
}
.star_small {
  position: absolute;
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,0.0);
  border-radius: 5px;
}

@keyframes twinkle {
  0% {
    transform: scale(1, 1);
    background: rgba(255,255,255,0.0);
    animation-timing-function: ease-in;
  }
  60% {
    transform: scale(0.8, 0.8);
    background: rgba(255,255,255,1);
    animation-timing-function: ease-out;
  }
  80% {
    background: rgba(255,255,255,0.00);
    transform: scale(1, 1);
  }
  100% {
    background: rgba(255,255,255,0.0);
    transform: scale(1, 1);
  }
}

/* TINY WINDOWS */

@media screen and (max-width: 1600px){
  .swiper{
    height: 650px;
  }

  #titleMain {
    font-size: 80px;
  }

  .MultiCarousel{
    height: 340px;
  }

  .MultiCarousel .MultiCarousel-inner .item{
    height: 320px;
  }
}

